/*MADE BY ERWANN*/

/* Changement du modèle de boîte */

* {
box-sizing : border-box;
}


/* Changement du font-size pour que 1rem = 10px, définition d'une couleur, d'une font-family et d'une line-height standard pour tous les éléments */
html {
font-size: 62.5%;
font-family : var(--fontFamily), 'Roboto', 'Helvetica', 'Arial', sans-serif;
line-height : 1.5;
background-color : var(--colorLightGrey);
color : var(--colorBlackTransparent);
scroll-behavior: smooth;
}


body {
  margin: auto;
  font-size : var(--size6);
}


.wrapper {
  max-width: 1200px;
  margin: auto;
}


nav * {
  display: inherit;
}
