/*MADE BY ERWANN*/

code {
  background-color : var(--colorLightGrey);
  color : var(--colorBlackTransparent);
  font-family : monospace;
  font-size : var(--size6);
  padding : var(--m);
  border-left : solid var(--xxs) var(--colorPrimary);
  display : block;
  width : 100%;
  border-radius : none;
  margin : var(--m) 0;
}

code span {
  color : var(--colorPrimaryHover);
  line-height : var(--l);
}
