/*MADE BY ERWANN*/

/*A BLANK CANVAS FOR YOU TO CREATE YOUR OWN CLASSES AND RULES*/

.icon {
  width : 16.0rem;
}

main#documentation>.card {
  margin : var(--m) 0;
}

nav {
  border-bottom : 1px solid var(--colorMediumGrey);
}
