/*MADE BY ERWANN*/
/*PARENTS PROPERTIES*/
.flex {
  display: flex;
  flex-wrap: wrap;
  gap : var(--m);
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.flex>* {
  flex: 1 1 auto;
}

.inline-flex {
  display: inline-flex;
}

/*FLEX DIRECTION*/
.flex-d-col {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.flex-d-rowrev {
  flex-direction: row-reverse;
}

.flex-d-colrev {
  flex-direction: column-reverse;
}

/*FLEX WRAP*/
.flex-w-wrap {
  flex-wrap: wrap;
}

.flex-w-nowrap {
  flex-wrap: nowrap;
}

.flex-w-wraprev {
  flex-wrap: wrap-reverse;
}

/*FLEX JUSTIFY CONTENT*/
.flex-j-start {
  justify-content: flex-start;
}

.flex-j-end {
  justify-content: flex-end;
}

.flex-j-center {
  justify-content: center;
}

.flex-j-spacebetween {
  justify-content: space-between;
}

.flex-j-spacearound {
  justify-content: space-around;
}

.flex-j-spaceevenly {
  justify-content: space-evenly;
}

/*FLEX ALIGN ITEMS*/
.flex-i-start{
  align-items: flex-start;
}

.flex-i-end {
  align-items: flex-end;
}

.flex-i-center {
  align-items: center;
}

.flex-i-stretch {
  align-items: stretch;
}

.flex-i-baseline {
  align-items: baseline;
}

/*FLEX ALIGN CONTENT*/
.flex-c-start {
  align-content: flex-start;
}

.flex-c-end {
  align-content: flex-end;
}

.flex-c-center {
  align-content: center;
}

.flex-c-spacebetween {
  align-content: space-between;
}

.flex-c-spacearound {
  align-content: space-around;
}

.flex-c-stretch {
  align-content: stretch;
}


/*CHILD PROPERTIES*/

/*FLEX GROW*/
.flex-grow-none {
  flex-grow : 0;
}

.flex-grow-one {
  flex-grow: 1;
}

.flex-grow-two {
  flex-grow: 2;
}

.flex-grow-three {
  flex-grow: 3;
}


.flex-grow-four {
  flex-grow: 4;
}

/*FLEX SHRINK*/
.flex-shrink-one {
  flex-shrink: 1;
}

.flex-shrink-two {
  flex-shrink: 2;
}

.flex-shrink-three {
  flex-shrink: 3;
}


.flex-shrink-four {
  flex-shrink: 4;
}

/*FLEX ALIGN SELF*/
.flex-s-start{
  align-self: flex-start;
}

.flex-s-end {
  align-self: flex-end;
}

.flex-s-center {
  align-self: center;
}

.flex-s-stretch {
  align-self: stretch;
}

.flex-s-baseline {
  align-self: baseline;
}
