
.sous a{
    padding: 6px;
    background-color: RGBa(200,200,200,0.8);
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
    }


    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: black;
    }

    .sous{
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }

    .sous a{
        border-bottom: none;
        background-color: white;
        font-size: 14px;
    }


    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}
