/*MADE BY ERWANN*/

/*GLOBAL MARGINS*/
.m-xxs {
  margin: var(--xxs);
}

.m-xs {
  margin: var(--xs);
}

.m-s {
  margin: var(--s);
}

.m-m {
  margin: var(--m);
}

.m-l {
  margin: var(--l);
}

.m-xl {
  margin: var(--xl);
}

.m-xxl {
  margin: var(--xxl);
}

/*HORIZONTAL MARGINS*/
.mx-xxs {
  margin-left: var(--xxs);
  margin-right : var(--xxs);
}

.mx-xs {
  margin-left: var(--xs);
  margin-right : var(--xs);
}

.mx-s {
  margin-left: var(--s);
  margin-right : var(--s);
}

.mx-m {
  margin-left: var(--m);
  margin-right : var(--m);
}

.mx-l {
  margin-left: var(--l);
  margin-right : var(--l);
}

.mx-xl {
  margin-left: var(--xl);
  margin-right : var(--xl);
}

.mx-xxl {
  margin-left: var(--xxl);
  margin-right : var(--xxl);
}

.mx-auto {
  margin-left: auto;
  margin-right : auto;
}

/*VERTICAL MARGINS*/
.my-xxs {
  margin-top: var(--xxs);
  margin-bottom : var(--xxs);
}

.my-xs {
  margin-top: var(--xs);
  margin-bottom : var(--xs);
}

.my-s {
  margin-top: var(--s);
  margin-bottom : var(--s);
}

.my-m {
  margin-top: var(--m);
  margin-bottom : var(--m);
}

.my-l {
  margin-top: var(--l);
  margin-bottom : var(--l);
}

.my-xl {
  margin-top: var(--xl);
  margin-bottom : var(--xl);
}

.my-xxl {
  margin-top: var(--xxl);
  margin-bottom : var(--xxl);
}

.my-auto {
  margin-top: auto;
  margin-bottom : auto;}

/*TOP MARGINS*/
.mt-xxs {
  margin-top: var(--xxs);
}

.mt-xs {
  margin-top: var(--xs);
}

.mt-s {
  margin-top: var(--s);
}

.mt-m {
  margin-top: var(--m);
}

.mt-l {
  margin-top: var(--l);
}

.mt-xl {
  margin-top: var(--xl);
}

.mt-xxl {
  margin-top: var(--xxl);
}

/*BOTTOM MARGINS*/
.mb-xxs {
  margin-bottom: var(--xxs);
}

.mb-xs {
  margin-bottom: var(--xs);
}

.mb-s {
  margin-bottom: var(--s);
}

.mb-m {
  margin-bottom: var(--m);
}

.mb-l {
  margin-bottom: var(--l);
}

.mb-xl {
  margin-bottom: var(--xl);
}

.mb-xxl {
  margin-bottom: var(--xxl);
}

/*LEFT MARGINS*/
.ml-xxs {
  margin-left: var(--xxs);
}

.ml-xs {
  margin-left: var(--xs);
}

.ml-s {
  margin-left: var(--s);
}

.ml-m {
  margin-left: var(--m);
}

.ml-l {
  margin-left: var(--l);
}

.ml-xl {
  margin-left: var(--xl);
}

.ml-xxl {
  margin-left: var(--xxl);
}

/*RIGHT MARGINS*/
.mr-xxs {
  margin-right: var(--xxs);
}

.mr-xs {
  margin-right: var(--xs);
}

.mr-s {
  margin-right: var(--s);
}

.mr-m {
  margin-right: var(--m);
}

.mr-l {
  margin-right: var(--l);
}

.mr-xl {
  margin-right: var(--xl);
}

.mr-xxl {
  margin-right: var(--xxl);
}


/*GLOBAL PADDINGS*/
.p-xxs {
  padding: var(--xxs);
}

.p-xs {
  padding: var(--xs);
}

.p-s {
  padding: var(--s);
}

.p-m {
  padding: var(--m);
}

.p-l {
  padding: var(--l);
}

.p-xl {
  padding: var(--xl);
}

.p-xxl {
  padding: var(--xxl);
}

/*HORIZONTAL PADDINGS*/
.px-xxs {
  padding-left: var(--xxs);
  padding-right : var(--xxs);
}

.px-xs {
  padding-left: var(--xs);
  padding-right : var(--xs);
}

.px-s {
  padding-left: var(--s);
  padding-right : var(--s);
}

.px-m {
  padding-left: var(--m);
  padding-right : var(--m);
}

.px-l {
  padding-left: var(--l);
  padding-right : var(--l);
}

.px-xl {
  padding-left: var(--xl);
  padding-right : var(--xl);
}

.px-xxl {
  padding-left: var(--xxl);
  padding-right : var(--xxl);
}



/*VERTICAL PADDINGS*/
.py-xxs {
  padding-top: var(--xxs);
  padding-bottom : var(--xxs);
}

.py-xs {
  padding-top: var(--xs);
  padding-bottom : var(--xs);
}

.py-s {
  padding-top: var(--s);
  padding-bottom : var(--s);
}

.py-m {
  padding-top: var(--m);
  padding-bottom : var(--m);
}

.py-l {
  padding-top: var(--l);
  padding-bottom : var(--l);
}

.py-xl {
  padding-top: var(--xl);
  padding-bottom : var(--xl);
}

.py-xxl {
  padding-top: var(--xxl);
  padding-bottom : var(--xxl);
}



/*TOP PADDINGS*/
.pt-xxs {
  padding-top: var(--xxs);
}

.pt-xs {
  padding-top: var(--xs);
}

.pt-s {
  padding-top: var(--s);
}

.pt-m {
  padding-top: var(--m);
}

.pt-l {
  padding-top: var(--l);
}

.pt-xl {
  padding-top: var(--xl);
}

.pt-xxl {
  padding-top: var(--xxl);
}

/*BOTTOM PADDINGS*/
.pb-xxs {
  padding-bottom: var(--xxs);
}

.pb-xs {
  padding-bottom: var(--xs);
}

.pb-s {
  padding-bottom: var(--s);
}

.pb-m {
  padding-bottom: var(--m);
}

.pb-l {
  padding-bottom: var(--l);
}

.pb-xl {
  padding-bottom: var(--xl);
}

.pb-xxl {
  padding-bottom: var(--xxl);
}

/*LEFT PADDINGS*/
.pl-xxs {
  padding-left: var(--xxs);
}

.pl-xs {
  padding-left: var(--xs);
}

.pl-s {
  padding-left: var(--s);
}

.pl-m {
  padding-left: var(--m);
}

.pl-l {
  padding-left: var(--l);
}

.pl-xl {
  padding-left: var(--xl);
}

.pl-xxl {
  padding-left: var(--xxl);
}

/*RIGHT PADDINGS*/
.pr-xxs {
  padding-right: var(--xxs);
}

.pr-xs {
  padding-right: var(--xs);
}

.pr-s {
  padding-right: var(--s);
}

.pr-m {
  padding-right: var(--m);
}

.pr-l {
  padding-right: var(--l);
}

.pr-xl {
  padding-right: var(--xl);
}

.pr-xxl {
  padding-right: var(--xxl);
}



/*GAP*/
.gap-xxs {
  gap: var(--xxs);
}

.gap-xs {
  gap: var(--xs);
}

.gap-s {
  gap: var(--s);
}

.gap-m {
  gap: var(--m);
}

.gap-l {
  gap: var(--l);
}

.gap-xl {
  gap: var(--xl);
}

.gap-xxl {
  gap: var(--xxl);
}

/*GAP HORIZONTAL*/
.gapy-xxs {
  row-gap: var(--xxs);
}

.gapy-xs {
  row-gap: var(--xs);
}

.gapy-s {
  row-gap: var(--s);
}

.gapy-m {
  row-gap: var(--m);
}

.gapy-l {
  row-gap: var(--l);
}

.gapy-xl {
  row-gap: var(--xl);
}

.gapy-xxl {
  row-gap: var(--xxl);
}


/*GAP VERTICAL*/
.gapx-xxs {
  column-gap: var(--xxs);
}

.gapx-xs {
  column-gap: var(--xs);
}

.gapx-s {
  column-gap: var(--s);
}

.gapx-m {
  column-gap: var(--m);
}

.gapx-l {
  column-gap: var(--l);
}

.gapx-xl {
columnw-gap: var(--xl);
}

.gapx-xxl {
  column-gap: var(--xxl);
}
