/* Définition de l'utilisation d'une variable */
:root{
--variableRandom : value;
}

/* Utilisation d'une variable */
color : var(--variableRandom);
color : rgba(var(--variableRandom),.5); /* Ex: pour faire des teintes */
