/*MADE BY ERWANN*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

:root {
  /*DEFINE THE FONT FAMILY*/
  --fontFamily: Poppins;
  /*DEFINE THE HUE OF THE PRIMARY AND SECONDARY COLORS*/
  --huePrimary: 148;
  --hueSecondary: 248;
  /*DEFINE THE SATURATION OF THE PRIMARY AND SECONDARY COLORS*/
  --saturationPrimary: 100%;
  --saturationSecondary: 100%;
  --saturationGrey: 7%;
  /*DEFINE THE LUMINANCE OF THE PRIMARY AND SECONDARY COLORS*/
  --luminancePrimary: 40;
  --luminanceSecondary: 50;
  /*DEFINE A BASE THAT THE FRAMEWORK WILL WORK WITH */
  --basePrimary: var(--huePrimary), var(--saturationPrimary);
  --baseSecondary: var(--hueSecondary), var(--saturationSecondary);
  --baseGrey: var(--huePrimary), var(--saturationGrey);
  /*DEFINE THE COLOR PALETTE AND THE GREY PALETTE AND THEIR LUMINANCE*/
  --colorPrimary: hsl(var(--basePrimary), calc(var(--luminancePrimary)*1%));
  --colorPrimaryTransparent:  hsla(var(--basePrimary), calc(var(--luminancePrimary)*1%), 0.15);
  --colorSecondary: hsl(var(--baseSecondary), calc(var(--luminanceSecondary)*1%));
  --colorWhite: hsl(var(--basePrimary), 99%);
  --colorBlack: hsl(var(--baseGrey), 20%);
  --colorBlackTransparent: hsla(var(--baseGrey), 20%, 0.7);
  --colorLightGrey: hsl(var(--baseGrey), 96%);
  --colorMediumGrey: hsl(var(--baseGrey), 91%);
  --colorDarkGrey: hsl(var(--baseGrey), 86%);
  /*DEFINE THE VARIOUS STATES*/
  --colorPrimaryHover: hsl(var(--basePrimary), calc((var(--luminancePrimary) - 10) * 1%));
  --colorPrimaryActive: hsl(var(--basePrimary), calc((var(--luminancePrimary) - 20) * 1%));
  --colorSecondaryHover: hsl(var(--baseSecondary), calc((var(--luminanceSecondary) - 10) * 1%));
  --colorSecondaryActive: hsl(var(--baseSecondary), calc((var(--luminanceSecondary) - 20) * 1%));
  /*DEFINE THE POTENTIAL USABLE UNITS*/
  --xxs: 0.2rem;
  --xs: 0.4rem;
  --s: 0.8rem;
  --m: 1.6rem;
  --l: 2.4rem;
  --xl: 4rem;
  --xxl: 8rem;
  /*DEFINE THE FONT WEIGHTS*/
  --lighter: 200;
  --light: 300;
  --regular: 400;
  --bold: 600;
  --bolder: 800;
  /*DEFINE THE TYPOGRAPHY VARIABLES*/
  --size1: 4.6rem;
  --size2: 3.6rem;
  --size3: 2.8rem;
  --size4: 2.2rem;
  --size5: 1.8rem;
  --size6: 1.6rem;
  --size7: 1.2rem;
  --lineHeightLarge: 1.5;
  --lineHeightSmall: 1.25;
  /*DEFINE THE MISCELLANEOUS ELEMENTS*/
  --borderRadius: .8rem;
  --transitionTiming: color 200ms, background 200ms, border 200ms cubic-bezier(0.75, 0, 0.25, 1);
}
