/* Définition de l'utilisation d'une variable */
:root{
--variableRandom : value;

/*DEFINE THE HUE OF THE PRIMARY AND SECONDARY COLORS*/
--huePrimary : 148;
--hueSecondary : 248;

/*DEFINE A BASE THAT THE FRAMEWORK WILL WORK WITH */
--basePrimary : var(--huePrimary), 100%;
--baseSecondary : var(--hueSecondary), 100%;
--baseGrey: var(--huePrimary), 12%;


/*DEFINE THE COLOR PALETTE AND THE GREY PALETTE AND THEIR LUMINANCE*/
--colorPrimary : hsl(var(--basePrimary), 50%);
--colorSecondary : hsl(var(--baseSecondary), 50%);
--colorWhite : hsl(var(--basePrimary), 99%);
--colorBlack : hsl(var(--baseGrey));
--colorBlackTransparent : hsla(var(--baseGrey),0.7);

--colorLightGrey : hsl(var(--baseGrey),96%);
--colorMediumGrey : hsl(var(--baseGrey),91%);
--colorDarkGrey : hsl(var(--baseGrey),86%);




/*DEFINE THE SPACING*/
--xxs : 0.2rem;
--xs : 0.4rem;
--s : 0.8rem;
--m : 1.6rem;
--l : 2.4rem;
--xl : 4rem;
--xxl : 8rem;


/*DEFINE THE FONT WEIGHTS*/
--lighter : 200;
--light : 300;
--regular : 400;
--bold : 600;
--bolder: 800;


/*DEFINE THE TYPOGRAPHY VARIABLES*/
--size1 : 4.6rem;
--size2 : 3.6rem;
--size3 : 2.8rem;
--size4 : 2.2rem;
--size5 : 1.8rem;
--size6 : 1.6rem;
--lineHeightLarge : 1.5;
--lineHeightSmall : 1.25;
}
